@import '../_variables'

h2
  color: $color-white
  font-family: $font-heavy
  font-size: 32px
  line-height: 32px
  letter-spacing: 0.4px
h3
  color: $color-white
  font-family: $font-heavy
  font-size: 20px
  line-height: 32px
  letter-spacing: 0.3px
h4
  color: $color-white
  font-family: $font-heavy
  font-size: 20px
  line-height: 30px
  letter-spacing: 0.3px
h5
  color: $color-dark-gray
  font-family: $font-heavy
  text-transform: uppercase
  font-size: 20px
  line-height: 20px
  letter-spacing: 0.4px

ul
  list-style: none
  padding: 0
  margin: 0
