<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Webdevelop</title>
  <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="preload" as="style">
  <% } %>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:image" content="" />
  <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" type="text/css">
  <% } %>
</head>

<body itemscope="" itemtype="http://schema.org/WebPage">
<div id="app"></div>
<% for (key in htmlWebpackPlugin.options.modernScripts) { %>
<script type="module" src="<%= htmlWebpackPlugin.options.modernScripts[key] %>" crossorigin="use-credentials"></script>
<% } %>
<% for (key in htmlWebpackPlugin.options.legacyScripts) { %>
<script nomodule type="text/javascript" src="<%= htmlWebpackPlugin.options.legacyScripts[key] %>"></script>
<% } %>
<!-- built files will be auto injected -->
</body>

</html>
