@import '_color';
@import 'components/_mixins.styl';
// font vars
$font-light = 'Avenir-Light', 'Montserrat', sans-serif;
$font-medium = 'Avenir-Book', 'Montserrat', sans-serif;
$font-heavy = 'Avenir-Heavy', 'Montserrat', sans-serif;

