@import '_color';
@import 'components/_mixins.styl';
// font vars
$font-light = 'Montserrat-Light', 'Montserrat', sans-serif;
$font-medium = 'Montserrat-Semibold', 'Montserrat', sans-serif;
$font-light-italic = 'Montserrat-LightItalic', 'Montserrat', sans-serif;
$font-regular =  'Montserrat-Medium', 'Montserrat', sans-serif;
$font-italic =  'Montserrat-Italic', 'Montserrat', sans-serif;
