@import '_color'
@import 'components/_mixins.styl'
// font vars
$font-light = 'Avenir-Light', 'Montserrat', sans-serif
$font-medium = 'Avenir-Book', 'Montserrat', sans-serif
$font-heavy = 'Avenir-Heavy', 'Montserrat', sans-serif

$desktop = 'screen and (max-width: 1280px)'
$tablet = 'screen and (max-width: 1024px)'
$mobile = 'screen and (max-width: 768px)'

